.image {
     
    width: 100vw;
    height: 91vh;
}
@media screen and (max-width: 500px) {
    .image{
        display: none;
    }
}
.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}
